<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <title>MyTODO_home</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  </head>
  <body>
    <h1>
      MyTODO
    </h1>
    <input id="title" placeholder="タイトル" type="text"/>
    <input id="price" placeholder="値段" type="number"/>
    <textarea id="review" placeholder="感想とか" style="width:300px; height:50px;display:block;"></textarea>
    <input type="button" value="追加" onclick="saveBook()"/>
    <div id="list"></div> 
    <script src="script.js"></script>
  </body>
</html>